<!--
TODO: escape docstrings
-->
<%
    from urllib.parse import urlsplit, urlunsplit
    from os.path import normpath, dirname
    import pprint

    splitted = urlsplit(url)
    prev_list = list(splitted)
    prev_list[2] = dirname(normpath(prev_list[2]))
    prev_url = urlunsplit(prev_list)

    method_list = normpath(splitted[2])[1:].split("/")
    module = ".".join(method_list[:-1])
    method = method_list[-1]

    variable = ( "yes" if variable_flag else "no" )
    required = pprint.pformat(required_list)
    optional = pprint.pformat(optional_dict)
%>
<html>
<body style="font-family: monospace">

Method <a href="${prev_url}">${module}</a>.<b>${method}</b>
<hr>
Variable: <b>${variable_flag}</b><br>
Required:
<pre>
${required}
</pre>
Optional:
<pre>
${optional}
</pre>

<hr>
<pre>
${doc}
</pre>

</body>
</html>
